<%= labelled_fields_for :issue, @issue do |f| %>

  <% if false #@issue.safe_attribute?('category_id') && @issue.project.issue_categories.any? %>
    <p><%= f.select :category_id, (@issue.project.issue_categories.collect {|c| [c.name, c.id]}), :include_blank => true, :required => @issue.required_attribute?('category_id') %>
    <%= link_to('',
                new_project_issue_category_path(@issue.project),
                :remote => true,
                :method => 'get',
                :title => l(:label_issue_category_new),
                :tabindex => 200,
                :class => 'icon-only icon-add'
              ) if User.current.allowed_to?(:manage_categories, @issue.project) %></p>
  <% end %>

  <% if @issue.safe_attribute?('fixed_version_id') && @issue.assignable_versions.any? %>
    <p><%= f.select :fixed_version_id, version_options_for_select(@issue.assignable_versions, @issue.fixed_version), :include_blank => true, :required => @issue.required_attribute?('fixed_version_id') %>
    <%= link_to('',
                new_project_version_path(@issue.project),
                :remote => true,
                :method => 'get',
                :title => l(:label_version_new),
                :tabindex => 200,
                :class => 'icon-only icon-add'
              ) if User.current.allowed_to?(:manage_versions, @issue.project) %>
    </p>
  <% end %>

  <%=  render 'milestone_task_attr', f: f%>

<% end %>