<div class="box">
    <div class="splitcontent">
      <div class="splitcontentleft">
        <div class="splitcontent">
          <div class="splitcontentleft issue-small">
            <div class="box">
              <% if @issue.safe_attribute?('status_id') && @allowed_statuses.present? && !@issue.milestone? %>
                  <p class="floating-field">
                    <%= f.select :status_id, (@allowed_statuses.collect {|p| [p.name, p.id]}), {:required => true},
                                :onchange => "updateIssueFrom('#{escape_javascript update_issue_form_path(@project, @issue)}', this)" %>
                  </p>
              <%= hidden_field_tag 'was_default_status', @issue.status_id, :id => nil if @issue.status == @issue.default_status %>
              <% else %>
                <p class="milestone-status large-explanation" tooltip="<%= I18n.t!('milestones.status_update_explanation') %>"><label><%= l(:field_status) %></label> <%= @issue.status %></p>
              <% end %>

              <% if @issue.safe_attribute? 'priority_id' %>
                <p class="floating-field">
                  <%= f.label :priority, class: @issue.priority.present? ? '' : 'hidden' %>
                  <%= f.select :priority_id, (@priorities.collect {|p| [p.name, p.id]}), { required: true, no_label: true } %>
                </p>
              <% end %>
            </div> <!-- /box -->
          </div> <!-- splitcontentleft -->
    </div>
</div>