<h2><%= l(:label_confirmation) %></h2>

<%= form_tag({}, method: :delete)  do %>
<%= @issues.collect {|i| hidden_field_tag('ids[]', i.id, id: nil)}.join("\n").html_safe %>
<div class="box">
<% unity = evm_unity(@issues.first.project) %>
<p><strong><%= l(:text_destroy_time_entries_question, actual_cost: number_with_precision(@actual_cost, precision: 2), unity: unity) %></strong></p>
<p>
<label><%= radio_button_tag 'todo', 'destroy', true %> <%= l(:text_destroy_time_entries, unity: unity) %></label><br />
<label>
  <%= radio_button_tag 'todo', 'reassign', false, onchange: 'if (this.checked) { $("#reassign_to_id").focus(); }' %>
    <%= l(:text_reassign_time_entries, unity: unity) %></label>
  <%= text_field_tag 'reassign_to_id', params[:reassign_to_id], size: 6, onfocus: '$("#todo_reassign").attr("checked", true);' %>
</p>
</div>
<%= submit_tag l(:button_apply) %>
<% end %>
