<h3>
  <%= link_to l(:label_logs), time_entries_path(:user_id => 'me') %>
  (<%= l(:label_last_n_days, 7) %>)
</h3>
<%
entries = timelog_items
entries_by_day = entries.group_by(&:spent_on)
%>


<% Project.available_fields.each do |field|  %>
  <% if field == 'time' %>
  <div class="total-hours">
    <p><%= l(:label_total_time) %>: <%= html_hours("%.2f" % sum_evm_values(entries, :hours).to_f) %></p>
  </div>
  <% else %>
  <div class="total-actual-<%= field %>">
    <% entry_field = Project.entry_field(field) %>
    <p><%= l(:"label_total_spent_#{field}") %>: <%= sum_evm_values(entries, entry_field).to_f %></p>
  </div>
  <% end %>
<% end %>

<table class="list time-entries">
<thead><tr>
<th><%= l(:label_activity) %></th>
<th><%= l(:label_project) %></th>
<th><%= l(:field_comments) %></th>
<% Project.available_fields.each do |field| %>
  <th><%= l(:"field_#{field}") %></th>
<% end %>
<th></th>
</tr></thead>
<tbody>
<% entries_by_day.keys.sort.reverse.each do |day| %>
    <tr class="odd">
    <td><strong><%= day == Date.today ? l(:label_today).titleize : format_date(day) %></strong></td>
    <td colspan="2"></td>

    <% Project.available_fields.each do |field| %>
      <td class="actual_cost"><em><%= sum_evm_values(entries_by_day[day], :"#{Project.entry_field(field)}").to_f %></em></td>
    <% end %>

    <td></td>
    </tr>
    <% entries_by_day[day].each do |entry| -%>
    <tr class="time-entry" style="border-bottom: 1px solid #f5f5f5;">
    <td class="activity"><%= entry.activity %></td>
    <td class="subject"><%= entry.project %> <%= h(' - ') + link_to_issue(entry.issue, :truncate => 50) if entry.issue %></td>
    <td class="comments"><%= entry.comments %></td>

    <% Project.available_fields.each do |field| %>
      <% if field == entry.project.evm_field %>
      <td class="actual-cost">
        <%= entry_field_value(entry.send(Project.entry_field(field))) %>
        <cursive><%= evm_entry_unity(entry, field) %></cursive>
        <span class="icon-info-circle large-explanation"  tooltip='<%= t("evm.fieldset") %>'></span>
      </td>
      <% else %>
      <td class="actual-<=% field %>">
        <%= entry_field_value(entry.send(Project.entry_field(field))) %>
        <cursive><%= evm_entry_unity(entry, field) %></cursive>
      </td>
      <% end %>
    <% end %>

    <td class="buttons">
    <% if entry.editable_by?(@user) -%>
        <%= link_to '', {:controller => 'timelog', :action => 'edit', :id => entry},
                    :title => l(:button_edit),
                    :class => 'icon-only icon-edit' %>
        <%= link_to '', {:controller => 'timelog', :action => 'destroy', :id => entry},
                    :data => {:confirm => l(:text_are_you_sure)}, :method => :delete,
                    :title => l(:button_delete),
                    :class => 'icon-only icon-del' %>
    <% end -%>
    </td>
    </tr>
    <% end -%>
<% end -%>
</tbody>
</table>
