<%= error_messages_for @document %>

<div class="box tabular">
<% if DocumentCategory.active.any? %>
  <p><%= f.select :category_id, DocumentCategory.active.collect {|c| [c.name, c.id]} %></p>
<% end %>

<div class="floating-field">
  <%= f.label :title, req_field(:title), class: "#{@document.title.present? ? '' : 'hidden'}" %>
  <%= f.text_field :title, required: true, no_label: true, placeholder: req_field(:title), size: 60 %>
</div>

<div class="floating-field textarea">
  <%= f.label :description, class: "#{@document.description.present? ? '' : 'hidden'}"  %>
  <%= f.text_area :description, :no_label => true, :cols => 60, :rows => 15, :class => 'wiki-edit' %>
</div>

<% @document.custom_field_values.each do |value| %>
  <p><%= custom_field_tag_with_label :document, value %></p>
<% end %>
</div>

<%= wikitoolbar_for 'document_description' %>

<% if @document.new_record? %>
<div class="box tabular no-padding-file-container">
<p><label><%=l(:label_attachment_plural)%></label><%= render :partial => 'attachments/form', :locals => {:container => @document} %></p>
</div>
<% end %>
