<% if User.current.allowed_to?(:view_time_entries, @project) %>
  <h3><%= l(:label_logs) %></h3>

  <% if @total_cost.present? %>
    <div class="total">
      <%= @total_cost %> <div class="unity"><%= evm_unity(@project) %></div>
    </div>
  <% end %>
  <% if User.current.allowed_to?(:log_time, @project) %>
    <div class="button-log">
      <%= link_to l(:button_log), new_project_time_entry_path(@project), class: 'icon icon-add' %> 
    </div>
  <% end %>
  <div class="details">
    <%= link_to(l(:label_details), project_time_entries_path(@project)) %> 
  </div>
  <div class="report">
    <%= link_to(l(:label_report), report_project_time_entries_path(@project)) %>
  </div>
<% end %>
<%= call_hook(:view_projects_show_sidebar_bottom, :project => @project) %>
