<p id="notice"><%= notice %></p>

<p>
  <strong>Issue:</strong>
  <%= @evm_point.issue %>
</p>

<p>
  <strong>Planned value:</strong>
  <%= @evm_point.planned_value %>
</p>

<p>
  <strong>Actual cost:</strong>
  <%= @evm_point.actual_cost %>
</p>

<p>
  <strong>Earned value:</strong>
  <%= @evm_point.earned_value %>
</p>

<p>
  <strong>Day:</strong>
  <%= @evm_point.day %>
</p>

<%= link_to 'Edit', edit_evm_point_path(@evm_point) %> |
<%= link_to 'Back', evm_points_path %>
